<!DOCTYPE html>
<html>
  <head>
    <title>Products</title>
    <link rel="stylesheet" href="<%- manifest["main.css"] %>"/>
  </head>
  <body>
    <div id="root"><%- content %></div>
    <script>windowINITIAL_STATE = <%- initialState %></script>
    <script src="<%- manifest["main.js"] %>"></script>
  </body>
</html>